*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.form{
    background-color: #2362CC;
    width: 50%;
    border-radius: 20px;
    /* text-align: center; */
}

.title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form .submit-btn{
    background-color: #1A18A3 !important;
    color: white !important;
}

.form .submit-btn:hover{
    background-color: white !important;
    color: black !important;
}
.btn-div{
    text-align: center;
    justify-content: center;
}

.btn-div span{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form .fields .inputError{
    font-size: 16px;
    color: #820200;
    font-weight: bold;
}


@media (max-width: 790px){
.title{
    font-size: 30px;
}
.form .fields input::placeholder{
    font-size: 13px;
}

.form .fields input{
    font-size: 13px !important;
}

.form .fields .inputError{
    font-size: 13px;
}
}

@media (max-width: 680px){

    .title{
        font-size: 25px;
    }
    .form .fields input::placeholder{
        font-size: 10px;
    }

    .form .fields input{
        font-size: 10px !important;
    }

    .form .fields .inputError{
        font-size: 10px;
    }

    .form .submit-btn{
        padding: 5px 10px !important;
        font-size: 15px !important;
    }
    
    }

    @media (max-width: 530px){

        .title{
            font-size: 20px;
        }
        .form .fields input::placeholder{
            font-size: 10px;
        }

        .form .fields input{
            font-size: 10px !important;
        }

        .form .submit-btn{
            padding: 5px 10px !important;
            font-size: 10px !important;
        }

        .btn-div span{
            font-size: 10px;
        }
        .form{
            background-color: #2362CC;
            width: 70%;
            border-radius: 20px;
            /* text-align: center; */
        }

        }

        @media (max-width: 445px){

            .title{
                font-size: 20px;
            }
            .form .fields input::placeholder{
                font-size: 10px;
            }
            .form .fields input{
                font-size: 10px !important;
            }
            .btn-div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .form .submit-btn{
                padding: 5px 10px !important;
                font-size: 1    0px !important;
                width: 60px;
            }

            .form{
                background-color: #2362CC;
                width: 70%;
                border-radius: 20px;
                /* text-align: center; */
            }
            }


            
        @media (max-width: 400px){

            .title{
                font-size: 20px;
            }
            .form .fields input::placeholder{
                font-size: 10px;
            }
            .form .fields input{
                font-size: 10px !important;
            }
            .btn-div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .form .submit-btn{
                padding: 5px 10px !important;
                font-size: 1    0px !important;
                width: 60px;
            }

            .form{
                background-color: #2362CC;
                width: 90%;
                border-radius: 20px;
                /* text-align: center; */
            }
            }