* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2362CC;
}

/* for main div */

.main {

    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

/* for head div */

.sec1 {
    background-color: #FFFFFF;
}

.listCont {
    padding: 10px 0px;
    margin-bottom: 40px;
}

.heading {
    background-color: #FFFFFF;
    width: 500px;
    border-radius: 10px;
    margin-bottom: 50px;
    text-align: center;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.listCont input {
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    border: solid 2px #2362CC;
    outline: 0;
    transition: .3s;
    margin-right: 10px;
    width: 320px;
}

.listCont input:focus {
    transition: .3s;
    color: black;
    border: solid 2px #2362CC;
    outline: 0;
    transform: scale(1.01);
    box-shadow: 0 0 0 2px rgba(170, 200, 200, 20.5);
}

.listCont .btn,
.clear-all {

    padding: 12px 20px 12px 20px;
    background-color: #2362CC;
    color: #FFFFFF;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: .2s;
}

.listCont .btn:hover,
.clear-all:hover {
    transition: .2s;
    color: #FFFFFF;
    background-color: #1A18A3;
    transform: scale(1.07);
}

.clear-all {
    margin-top: 20px;
    margin-left: 35%;
    display: none;
}

.list ul li {
    position: relative;
    padding: 15px 10px 15px 10px;
    margin-bottom: 10px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: #C5E1E5;
    border-radius: 5px;
    transition: .3s;
    letter-spacing: 1px;
    cursor: pointer;
    width: 400px;
    display: flex;
    align-items: center;
    z-index: 0;
}


.list ul li i {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 15px;
    font-size: 16px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.list ul li:hover {
    transition: .3s;
    /* background-color: rgb(51, 50, 50); */
}

.list ul .checked p {

    /* background-color: whitesmoke; */
    color: #1A18A3;
    text-decoration: line-through;
}

/* .list ul .checked::after{
    content: '';
    border-color:  #1A18A3;
    border-style: solid;
    border-width: 0 2px 2px 0;
    margin-top: -10px;
    margin-left: 20px;
    transform: rotate(45deg);   
    height: 15px;
    width: 7px;
} */

.delete {
    padding: 11.5px 20px;
    background-color: #1A18A3;
    border-radius: 10px;
    cursor: pointer;
    border-width: 0px;
    transition: .3s;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
}

.delete:hover {
    transform: scale(1.05);
    transition: .3s;
}

.sec1 {
    padding: 20px;
    border: none;
    border-radius: 20px;
    width: 450px;

}

.edit {
    background-color: #2362CC;
    padding: 11.5px 20px;
    border-radius: 10px;
    cursor: pointer;
    border-width: 0px;
    transition: .3s;
    position: absolute;
    right: 50px;
    top: 5px;
    z-index: 1;
}

.edit:hover {
    transform: scale(1.05);
    transition: .3s;
}


.editInput {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.para {
    overflow-wrap: break-word;
    width: 250px;
}



@media (max-width: 520px) {

    .heading {
        width: 400px;
    }

    .sec1 {
        width: 400px;
    
    }    

    .listCont input {
        width: 270px;
    }

    .list ul li {
        width: 350px;
    }

}

@media (max-width: 415px) {

    .heading {
        width: 300px;
    }

    .sec1 {
        width: 300px;
    
    }    

    .listCont input {
        width: 170px;
    }

    .list ul li {
        width: 260px;
    }

}

